[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.1.11"
djangorestframework = "==3.9.0"
pyyaml = "*"
gunicorn = "*"
django-heroku = "*"
dj-database-url = "*"
djongo = "*"
django-rest-swagger = "*"
djangorestframework-simplejwt = "*"
django-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.6"
