dj-database-url==0.5.0
Django==2.1
django-background-tasks==1.2.0
django-compat==1.0.15
django-crontab==0.7.1
django-heroku==0.3.1
djangorestframework==3.9.0
gunicorn==19.9.0
psycopg2==2.7.3
pytz==2018.7
PyYAML==3.13
six==1.11.0
whitenoise==4.1
